.Main_recent_card {
  width: 427px;
  height: 245px;
  padding-left: 22px;
  background-color: #1b204a;
  color: white;
  border-radius: 16px;
  margin-top: 84px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

/* Title bar */

.Recently_activity_title {
  font-family: "Poppins", sans-serif;
  width: 427px;
  height: 48px;
}

/* Content Title */

.recent_title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  width: 340px;
}

.recent_content {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  width: 340px;
  color: rgba(255, 255, 255, 0.808);
}

/* Bottom bar - button and a text */

.button_element {
  display: flex;
  justify-content: space-between;
  padding-right: 34px;
}

.button_element > p {
  font-family: "Poppins", sans-serif;
  width: 195px;
}

/* Button */

.activity_btn {
  width: 139px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: #ff5151;
  color: #ffffff;
  cursor: pointer;
  margin-top: 6px;;
}

/* Date text */

.today_date {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.808);
}

/* Scroll bar */

.recent_container {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  border-radius: 8px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.229),
    inset 0 -7px 9px -7px rgba(0, 0, 0, 0.229);
}

/* TAB VIEW */

@media only screen and (min-width: 391px) and (max-width: 835px) {
  .Main_recent_card {
    width: 235px;
    height: 385px;
    padding-bottom: 12px;
    margin-top: 0px;
    margin-left: 50px;
  }
  .recent_title {
    font-size: 16px;
    width: 188px;
  }
  .recent_content {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    width: 188px;
    color: rgba(255, 255, 255, 0.808);
  }

  .button_element {
    display: unset;
  }
}

/* Mobile view */

@media only screen and (min-width: 0px) and (max-width: 391px) {
  .Main_recent_card {
    width: 350px;
    height: 306px;
    padding-bottom: 12px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .button_element {
    display: unset;
  }
  .recent_title {
    font-size: 16px;
    width: 188px;
  }
  .recent_content {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    width: 188px;
    color: rgba(255, 255, 255, 0.808);
  }
  .Recently_activity_title {
    width: 360px;
  }
}
