.Left-Sidebar {
  margin: 0px;
  padding: 0px;
  height: 900px;
  width: 242px;
}
.Main-menu-btn {
  display: none;
}
/* TOP LOGO */

.Left-Logo {
  height: 100px;
  display: flex;
  margin-top: 30px;
  margin-left: -15px;
}

.vasi-logo {
  margin-left: 36.5px;
  margin-top: -5px;
  width: 45px;
  height: 38px;
}

.logo_text {
  width: 115px;
  height: 25px;
}

/* MAIN MENU */

.Main-menu {
  height: 318px;
  align-items: center;
  margin-bottom: 48px;
  margin-top: -15px;
}

.label_m {
  height: 3px;
  margin-left: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #686868;
}

.Main-menu > a > p {
  margin-left: 30px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #686868;
  display: flex;
  align-items: center;
}
.Main-menu > a {
  margin-left: 30px;
  text-decoration: none;
}

.Main-menu > a > p > svg {
  margin-right: 20px;
}

.Main-menu > a > p:hover {
  color: #ff5151;
}

/* OTHER */

.Other {
  height: 150px;
}

.label_o {
  height: 3px;
  margin: 40px 50px 45px 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #686868;
}

.Other > a {
  margin-left: 30px;
  text-decoration: none;
}

.Other > a > p {
  margin-left: 30px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #686868;
  display: flex;
  align-items: center;
}

.Other > a > p:hover {
  color: #ff5151;
}

.Other > a > p > svg {
  margin-right: 24px;
}
.Main-menu-btn-c {
  display: none;
}
.Main-menu-btn-o {
  display: none;
}

/* Tab View */

@media only screen and (min-width: 391px) and (max-width: 835px) {
  /* TOP LOGO */

  .Left-Sidebar {
    margin: 0px;
    padding: 0px;
    height: 900px;
    width: 90px;
  }
  .vasi-logo {
    margin-left: 36.5px;
    margin-top: -5px;
    padding-right: 25px;
    width: 65px;
    height: 48px;
  }
  .logo_text {
    display: none;
  }

  /* MAIN MENU and other */

  .icon_text {
    display: none;
  }
  .label_m {
    height: 3px;
    margin-left: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #686868;
  }
  .Main-menu > a > p {
    margin-left: 35px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #686868;
    display: flex;
    align-items: center;
  }

  .label_o {
    height: 3px;
    margin-left: 018px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #686868;
  }
  .Other > a > p {
    margin-left: 35px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #686868;
    display: flex;
    align-items: center;
  }
}

/* MObile View */

@media only screen and (min-width: 00px) and (max-width: 391px) {
  .Left-Sidebar {
    width: 80%;
    max-width: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: White;
    border-radius: 25px;
    height: auto;
  }

  .Left-Sidebar.open {
    transform: translateX(0); /* Slide in from the left when open */
  }

  .Left-Sidebar.closed {
    transform: translateX(-110%); /* Slide out to the left when closed */
  }
  .Main-menu-btn-o {
    display: block;
    margin-top: 14.5px;
    margin-left: 25px;
    position: absolute;
  }
  .Main-menu-btn-c {
    display: block;
    margin-top: 22px;
    margin-right: 35px;
    position: absolute;
    top: 50px;
    right: 15px;
  }

  .Left-Logo {
    height: 100px;
    display: flex;
    align-items: center;
  }
}
